body {
    background: #ded092;
    color: #58706c;
    padding-top: 30px;
    padding-bottom: 30px;
}
.highlight {
    background: #f5f7b0;
}

/*
palette
58706c moss green
95e8ad seafoam green
7cc45c new leaf green
f5f7b0 cream
ded092 tan
*/

/*
NOTE: never write @media queries for Bootstrap-styled pages
*/
