body {
    background: #ded092;
    color: #58706c;
    padding-top: 30px;
    padding-bottom: 30px;
}
.highlight {
    background: #f5f7b0;
}

/*
NOTE: never write @media queries for Bootstrap-styled pages
*/
